= page_header(t('engines.aws.region.title'))
-# body
= form_with(model: @region, url: aws.region_path, method: 'put') do |form|
  = markdown(t('engines.aws.region.form_caption'))
  %div.form-group
    = form.select(:value, @region.options, {}, { class: 'custom-select' })
  %div.form-group
    = form.submit t('actions.next'), class: 'btn btn-primary'
-# end
= render('layouts/navigation_buttons') do
  = previous_step_button()
