= page_header(t('engines.aws.region.title'))
-# body
%p
  = t('engines.aws.region.using')
  %span.text-monospace= @region.value
-# end
= render('layouts/navigation_buttons') do
  = link_to(t('action.previous'), aws.edit_region_path, class: 'btn btn-secondary')
  = next_step_button(aws.edit_region_path)
