= page_header(t('engines.rancher_on_eks.steps.title'))
-# body
%p
  = markdown(t('engines.rancher_on_eks.steps.form_caption'))
-# progress bar
%div.container
  %div.d-flex.flex-row.border.border-dark.progress-bar
    - @steps.each do |step|
      - if step.complete?
        - status = "complete"
      - elsif step.started?
        - status = "started"
      - else
        - status = "todo"
      %div.p-2.step{class: status, style: "flex-grow: #{step.duration};", title: "#{step.rank}. #{step.action}", data: {toggle: "tooltip", placement: "bottom"}}
  - @steps.each do |step|
    - if step.started? && !step.complete?
      %p.icon-container
        %i.eos-icons-outlined
          = image_tag 'rotating_gear.svg', alt: 'working...'
        = step.rank
        \.
        = step.action
- if @deployable
  = form_with url: rancher_on_eks.deploy_steps_path, method: 'post' do |form|
    %div.form-group
      = form.submit t('actions.exec'), class: 'btn btn-primary'
-# end
= render('layouts/navigation_buttons') do
  -if @cancel_deploy
    = cancel_deploy_button()
  -# end
  = previous_step_button()
