= page_header(t('engines.rancher_on_eks.steps.title'))
-# body
= markdown(t('engines.rancher_on_eks.steps.form_caption'))
= render('layouts/steps/progress_bar', steps: @steps)
= render('layouts/navigation_buttons') do
  - if @deployable
    = form_with url: rancher_on_eks.deploy_steps_path, method: 'post' do |form|
      = previous_step_button()
      = form.submit t('actions.next'), class: 'btn btn-primary'
  - elsif @deploy_failed
    = previous_step_button()
    = next_step_button()
  - else
    = previous_step_button()
= render('layouts/steps/resource_list', resources: @resources, caption: t('engines.rancher_on_eks.resources.caption'))
