= page_header(t('engines.aws.credentials.title'))
-# body
= form_with(model: @credential, url: aws.credential_path, method: 'put') do |form|
  = markdown(t('engines.aws.credentials.form_caption'))
  %div.form-group
    = form.label :aws_access_key_id, :aws_access_key_id.to_s.titlecase(keep_id_suffix: true)
    = form.text_field :aws_access_key_id, class: 'form-control'
  %div.form-group
    = form.label :aws_secret_access_key, :aws_secret_access_key.to_s.titlecase
    = form.password_field :aws_secret_access_key, class: 'form-control'
  %div.form-group
    = form.submit t('actions.save'), class: "btn btn-primary"
-# end
= render('layouts/navigation_buttons') do
  = previous_step_button()
