= page_header(t('engines.aws.credentials.title'))
-# body
%p
  = t('engines.aws.credentials.using')
  %span.text-monospace= @credential.aws_access_key_id
-# end
= render('layouts/navigation_buttons') do
  = link_to(t('actions.previous'), aws.edit_credential_path, class: 'btn btn-secondary')
  = next_step_button(aws.edit_credential_path)
