= page_header(t('engines.shirt_size.sizes.title'))
= form_with url: shirt_size.size_path, method: "post" do |form|
  %div.form-group
    = form.label :arguments, "What size cluster do you need?"
    -# = form.collection_radio_buttons :size, @sizes, :size, :caption, { checked: @size }
    - @sizes.each do |option|
      %div.form-check
        = form.radio_button :size, option.size, class: 'form-check-input eos-radio-btn', checked: (@size == option.size)
        = form.label "size_#{option.size}", option.caption, class: 'form-check-label'
  %div.form-group
    = form.submit "Select", class: "btn btn-primary"
%hr
%div.text-right
  = previous_step_button()
