= page_header(t('engines.aws.cli.title'))
-# body
%h3 command
%pre= 'aws ' + @args.join(' ')
%h3 stdout
%pre= @stdout
%h3 stderr
%pre= @stderr
-# end
= render('layouts/navigation_buttons') do
  = link_to(t('actions.previous'), aws.new_cli_path, class: 'btn btn-secondary')
  = next_step_button(new_cli_path())
