= page_header(t('engines.aws.cli.title'))
%h3 command
%pre= @cmd.join(' ')
%h3 stdout
%pre= @stdout
%h3 stderr
%pre= @stderr
%hr
%div.text-right
  = link_to(t('Back'), new_cli_path(), class: 'btn btn-secondary')
  = next_step_button(new_cli_path())
