%div.container
  %div.d-flex.flex-row.border.border-dark.progress-bar
    - steps.each do |step|
      - if step.complete?
        - status = "complete"
      - elsif step.started?
        - status = "started"
      - else
        - status = "todo"
      %div.p-2.step{class: status, style: "flex-grow: #{step.duration};", title: "#{step.rank}. #{step.action}", data: {toggle: "tooltip", placement: "bottom"}}
  - steps.each do |step|
    - if step.started? && !step.complete?
      %p.icon-container
        %i.eos-icons-outlined
          = image_tag 'rotating_gear.svg', alt: 'working...'
        = step.rank
        \.
        = step.action
