= page_header(t('engines.aws.permissions.title'))
-# body
%p= markdown(t('engines.aws.permissions.caption', arn: @metadata.policy_source_arn()))
- if Rails.application.config.permissions_passed || @permissions.passed?
  %p
    %b= t('engines.aws.permissions.passed')
- else
  %p= t('engines.aws.permissions.missing')
  %ul
    - @permissions.missing.each do |perm|
      %li= perm
  = link_to(t('engines.aws.permissions.retest'), permissions_path, class: "btn btn-primary")
-# end
= render('layouts/navigation_buttons') do
  = previous_step_button()
  = next_step_button() if @permissions.passed?
