= page_header(t('engines.aws.permissions.title'))
-# body
- if @arn && @passed
  = markdown(t('engines.aws.permissions.caption', arn: @metadata.policy_source_arn()))
  %p
    %b= t('engines.aws.permissions.passed')
- else
  - if !@arn
    = markdown(t('engines.aws.permissions.missing_instance_profile'))
  - else
    %p= t('engines.aws.permissions.missing')
    %ul
      - @permissions.missing.each do |perm|
        %li= perm
  = link_to(t('actions.retest'), permissions_path, class: 'btn btn-primary')
-# end
= render('layouts/navigation_buttons') do
  = previous_step_button()
  = next_step_button() if @arn && @passed
