= page_header(t('engines.aws.steps.title'))
-# body
= form_with url: aws.step_path, method: 'post' do |form|
  %div.form-group
    %div.margin-bottom-s
      %strong= t('engine.aws.steps.form_caption')
    - @cli.steps.each do |step|
      %div.form-check
        = form.radio_button :step, step, class: 'form-check-input eos-radio-btn'
        = form.label "step_#{step}", t("engines.aws.steps.labels.#{step}"), class: 'form-check-label'
  = render('layouts/navigation_buttons') do
    = previous_step_button()
    = form.submit t('actions.next'), class: 'btn btn-primary'
-# end
