= page_header(t('product_brand.title'))
-# body
= form_for(@current_user, url: login_url, method: 'put') do |form|
  = markdown(t('login.content'))
  %div.form-group
    = form.label :username, t("login.#{@csp_login_info}.username")
    = form.text_field :username, class: 'form-control'
  %div.form-group
    = form.label :password, t("login.#{@csp_login_info}.password")
    = form.password_field :password, class: 'form-control'
  %div.form-group
    = form.submit t('actions.login'), class: "btn btn-primary"
-# end
