- if @failed && !@cleaning_up
  = page_header(t('engines.rancher_on_eks.wrapup.failed_title'))
  -# body
  %p= markdown(t('engines.rancher_on_eks.wrapup.failed_caption'))
  %p= markdown(t('engines.rancher_on_eks.wrapup.failed_info'))
- elsif !@cleaning_up
  = page_header(t('engines.rancher_on_eks.wrapup.title'))
  -# body
  %p= markdown(t('engines.rancher_on_eks.wrapup.caption'))
  %p= markdown(t('engines.rancher_on_eks.wrapup.url', fqdn: @fqdn))
  %p= markdown(t('engines.rancher_on_eks.wrapup.password', password: @password))
  %p= markdown(t('engines.rancher_on_eks.wrapup.more_info', region: @region, cluster_name: @cluster_name))
-# end
%hr

- if @resources_created
  %div.float-left.btn-group.steps-container.form_container.container
    - if @downloading
      = button_to wrapup_path(run: true), method: :delete, class: "btn btn-danger", disabled: true, id: "destroy", title: t('engines.rancher_on_eks.wrapup.clean_resources')  do
        %i.eos-icons cloud_off
        = t('engines.rancher_on_eks.wrapup.clean_resources')
    - else
      - if @resources_deleted
        = button_to wrapup_path(run: true), method: :delete, disabled: true, class: "btn btn-danger", id: "destroy", title: t('engines.rancher_on_eks.wrapup.resources_cleaned')  do
          %i.eos-icons-outlined check_circle
          = t('engines.rancher_on_eks.wrapup.resources_cleaned')
      - elsif @in_process
        = button_to wrapup_path(run: true), method: :delete, disabled: true, class: "btn btn-danger", id: "destroy", title: t('engines.rancher_on_eks.wrapup.cleaning_resources')  do
          = image_tag 'rotating_gear.svg', alt: 'working...', height: 24
          = t('engines.rancher_on_eks.wrapup.cleaning_resources')
      - else
        = button_to wrapup_path(run: true), method: :delete, class: "btn btn-danger", id: "destroy", title: t('engines.rancher_on_eks.wrapup.clean_resources')  do
          %i.eos-icons cloud_off
          = t('engines.rancher_on_eks.wrapup.clean_resources')
    - if @downloading
      = button_to wrapup_path(run: nil), method: :delete, class: "btn btn-outline-primary download", disabled: true, id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.generating_clean_resources_commands')  do
        = image_tag 'rotating_gear.svg', alt: 'working...', height: 24
        = t('engines.rancher_on_eks.wrapup.generating_clean_resources_commands')
    - elsif @lasso_commands  || @in_process || @resources_deleted
      = button_to wrapup_path(run: nil), method: :delete, class: "btn btn-outline-primary download", disabled: true, id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')  do
        %i.eos-icons articles
        = t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')
    - else
      = button_to wrapup_path(run: nil), method: :delete, class: "btn btn-outline-primary download", id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')  do
        %i.eos-icons article
        = t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')
  -unless @resources_deleted
    = render('layouts/steps/resource_list', resources: @resources, title: t('engines.rancher_on_eks.wrapup.resources.subtitle'), caption: t('resources.caption'))

  -unless @resources_deleted
    %div.float-left.btn-group.steps-container.form_container.container
      - if @downloading
        = button_to wrapup_path(run: true), method: :delete, class: "btn btn-danger", disabled: true, id: "destroy", title: t('engines.rancher_on_eks.wrapup.clean_resources')  do
          %i.eos-icons cloud_off
          = t('engines.rancher_on_eks.wrapup.clean_resources')
      - else
        - if @resources_deleted
          = button_to wrapup_path(run: true), method: :delete, disabled: true, class: "btn btn-danger", id: "destroy", title: t('engines.rancher_on_eks.wrapup.resources_cleaned')  do
            %i.eos-icons-outlined check_circle
            = t('engines.rancher_on_eks.wrapup.resources_cleaned')
        - elsif @in_process
          = button_to wrapup_path(run: true), method: :delete, disabled: true, class: "btn btn-danger", id: "destroy", title: t('engines.rancher_on_eks.wrapup.cleaning_resources')  do
            = image_tag 'rotating_gear.svg', alt: 'working...', height: 24
            = t('engines.rancher_on_eks.wrapup.cleaning_resources')
        - else
          = button_to wrapup_path(run: true), method: :delete, class: "btn btn-danger", id: "destroy", title: t('engines.rancher_on_eks.wrapup.clean_resources')  do
            %i.eos-icons cloud_off
            = t('engines.rancher_on_eks.wrapup.clean_resources')
      - if @downloading
        = button_to wrapup_path(run: nil), method: :delete, class: "btn btn-outline-primary download", disabled: true, id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.generating_clean_resources_commands')  do
          = image_tag 'rotating_gear.svg', alt: 'working...', height: 24
          = t('engines.rancher_on_eks.wrapup.generating_clean_resources_commands')
      - elsif @lasso_commands || @in_process || @resources_deleted
        = button_to wrapup_path(run: nil), method: :delete, class: "btn btn-outline-primary download", disabled: true, id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')  do
          %i.eos-icons article
          = t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')
      - else
        = button_to wrapup_path(run: nil), method: :delete, class: "btn btn-outline-primary download", id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')  do
          %i.eos-icons article
          = t('engines.rancher_on_eks.wrapup.generate_clean_resources_commands')

  - if @lasso_commands
    %h3= t('engines.rancher_on_eks.wrapup.commands.subtitle')
    %p= markdown(t('engines.rancher_on_eks.wrapup.commands.caption'))
    %div.float-left.btn-group.steps-container.form_container.container.download-commands
      = button_to wrapup_path, method: :get, class: "btn btn-outline-primary", id: "destroy-commands", title: t('engines.rancher_on_eks.wrapup.clean_resources_commands'), params: {download: true}  do
        %i.eos-icons archive
        = t('engines.rancher_on_eks.wrapup.clean_resources_commands')

    %div#commands
      - if @commands
        - @commands.each do |command|
          %p= command
- else
  %h3= t('engine.rancher_on_eks.wrapup.resources_not_created')
