%li.menu-item
  %div.menu-element
    = link_to(caption, target, class: 'main-collapsed-single js-select-current-parent js-feature-flag')
  - if (can(target) && !@cancel_deploy) || (target.include?('wrapup') && @cancel_deploy)
    = active_link_to(target, class: 'menu-title js-select-current-parent js-feature-flag') do
      %i.eos-icons-outlined= icon
      %span.menu-title-content= caption
  - else
    = link_to('', class: 'menu-title js-feature-flag disabled no-hover') do
      %i.eos-icons-outlined= icon
      %span.menu-title-content= caption
